body {
    background-color: snow;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

#kysymys {
    background-color: rgb(211, 144, 238);
    border-radius: 15px;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.vaihtoehto {
    background-color: rgb(170, 108, 227);
    border-radius: 15px;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.vaihtoehto:hover {
    background-color: rgb(121, 8, 214);
}

#seuraava {
    padding: 1rem;
    margin: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

#nappi {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}